.speech {
    color: black;
     font-size: small;
     font-family: 'Courier New', Courier, monospace;
   }

.direction {
    color: black;
    font-size: medium;
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
   }
.direction:hover {
     color: red;
     background-color: antiquewhite;
   }

.name {
    color: black;
     font-size: medium;
     font-family: 'Courier New', Courier, monospace;
   }
.MARY {
    color: black;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
.OLLIVANT{
    color: black;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
.TABLE th, td {
    color: black;
     font-size: medium;
     text-align: center;
     background-color: lightgrey;
     width: 100px;
     border: 3px solid pink;
     padding:10px;
     margin: 10px;
     font-family: 'Courier New', Courier, monospace;
   }
   .TABLE th:hover {
        background-color: aqua;
   }
   .TABLE th {
    background-color: rgb(89, 95, 81);
}
.TABLE td {
    background-color:cornsilk ;
}